.heroImage {
  width: 100vw;
  height: 700px;
  position: relative;
  background: url('./Images/Hero.png') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 36px 36px 0 36px;
}

.leftAlign {
  display: flex;
  align-items: center;
}

.headerItem:not(:first-of-type) {
  margin-left: 20px;
}

.logo {
  height: 36px;
  width: 36px;
}

.heroCardContainer {
  margin-top: -124px;
  margin-bottom: 127px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.heroCard {
  height: 248px;
  width: 926px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: var(--main-colorPlus);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textAlignCenter {
  text-align: center;
}

.circlesContainer {
  margin-top: 24px;
  height: 300px;
  display: flex;
  align-items: center;
}

.circles {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  font-size: 36px;
  line-height: 36px;
  padding: 0 2rem;
}

.introContainer {
  width: 100vw;
  height: 1058px;
  margin-top: -150px;
  padding: 233px 121px 0 121px;
  border-top: 3px solid #120f05;
  border-bottom: 2px dashed #425b4e;
  stroke-dasharray: 10px;
  z-index: -1;
  background-color: var(--main-colorPlus);
}

.title {
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 6px;
}

.introCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 36px 44px;
}

.introCard {
  height: 165px;
  width: 580px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 23px;
}

.introCardText {
  margin-left: 33px;
  width: 383px;
}

.teaContainer {
  padding: 72px 121px 0 121px;
}

.teaCardContainer {
  column-count: 3;
  column-gap: 41px;
}

.teaCard {
  display: inline-block;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 23px;
}

.teaCard:nth-child(odd) {
  margin-bottom: 44px;
}

.teaCardText {
  margin-top: 16px;
}

.teaCardSubtitle {
  margin-top: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.prayerContainer {
  border-top: 2px dashed #425b4e;
  padding: 72px 121px;
  background-color: var(--main-colorPlus);
}

.prayerCardContainer {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 44px;
}

.prayerCard {
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 23px 23px 0 23px;
}

.prayerCardText {
  margin-top: 16px;
}

.prayerCardSubtitle {
  margin-top: 6px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.footer {
  height: 50px;
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  align-items: center;
  padding: 0 36px;
}

.divider {
  margin: 0 16px;
}
